 <header>
    <div class="blue lighten-4" style="height:20vh;">
        <img  style="max-height:16vh; margin-top:2vh;" src="img/herring-fish.svg"/>
    </div>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">&nbsp;&nbsp;Sleepy Fish</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Tech</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</header>