<div class="section no-pad-bot" id="loading-banner" class="static-banner" style="text-align:center;padding:150px; 10px;">
    <img width="100" src="img/water.svg"/>
    <p>&nbsp;&nbsp;&nbsp;Loading...<p>
</div>