<div class="section no-pad-bot" id="index-banner" class="static-banner" style="display:none;">
    <div class="container">
        <br><br>
        <h1 class="header center">Sleepy Fish</h1>
        <div class="row center">
        <h5 class="header col s12 light">A productless brand for web tech and games</h5>
        </div>
        <div class="row center">
        <a onclick="Sleepy.login()" id="login-button" class="btn-large waves-effect waves-light">Login</a>
        </div>
        <br><br>
    </div>
</div>