@font-face {
  font-family: 'StickNoBills';
  src: url('fnt/StickNoBills.ttf');
}

@font-face {
  font-family: 'LED';
  src: url('fnt/LED.ttf');
}

@font-face {
  font-family: 'NTR';
  src: url('fnt/NTR.ttf');
}
