@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'style/typography';
@import 'style/variables';
@import 'style/mixins';

body {
  margin-top: $header-height;
  font-family: $font-family-sans;
  @include onMobile {
    margin-top: $header-height-mobile;
  }
  border: 5px solid red;
}