<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A productless brand for web tech and games">
    <meta name="author" content="J Riley Harrington">
    <title>{{ page_title }}</title>
    <!-- Styling -->
    <!-- inject:style:css -->
    <link href="./css/vendor.css" rel="stylesheet">
    <link href="./css/bundle.css" rel="stylesheet">
    <!-- endinject -->
  </head>
  <body class="yellow lighten-4 blue-text text-darken-3">

    {% include "njk/header.njk" %}

    <main>
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center">Sleepy Fish</h1>
          <div class="row center">
            <h5 class="header col s12 light">A productless brand for web tech and games</h5>
          </div>
          <div class="row center">
            <a onclick="login()" id="login-button" class="btn-large waves-effect waves-light">Login</a>
          </div>
          <br><br>
        </div>
      </div>
    </main>

    {% include "njk/footer.njk" %}
  </body>
  <!-- JavaScript -->
  <script src="./js/vendor.js"></script>
  <script src="https://cdn.auth0.com/js/lock/11.3.1/lock.min.js"></script>
  <script src="./js/bundle.js"></script>
</html>
